<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookShop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div class="bg-dark collapse" id="navbarHeader">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">About</h4>
                <p class="text-muted">Visits: {{visits}}</p>
                <p class="text-muted">Author: {{author_amount}}</p>
                <p class="text-muted">Books amount: {{books_amount}}</p>
              </div>
              <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Contact</h4>
                <ul class="list-unstyled">
                  <li><a href="#" class="text-white">Follow on Twitter</a></li>
                  <li><a href="#" class="text-white">Like on Facebook</a></li>
                  <li><a href="#" class="text-white">Email me</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar navbar-dark bg-dark box-shadow">
          <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
              <strong>Book Store</strong>
            </a>
            <div class="navbar-toggler">
              {% if user.is_authenticated %}
                <span><a href="{% url 'logout' %}" role="button" class="btn btn-outline-secondary">My profile</a></span>
                <span>Welcome back, {{ user.get_username }}!<a href="{% url 'logout' %}" role="button" class="btn btn-outline-secondary">Log out</a></span>
                
              {% else %}
                <a href="{% url 'login' %}" role="button" class="btn btn-outline-secondary">Sign in</a>
                <a href="{% url 'register' %}" role="button" class="btn btn-outline-secondary">Sign up</a>
              {% endif %}
              <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
          </div>
        </div>
    </header>
    <div class='container'>
      {% block content %} {% endblock %}
    </div>
</body>
</html>