{% extends 'base.html' %}
{% block content %}

{% if form.errors %}
<div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Error!</strong> {{ form.errors }}
</div>
{% endif %}


<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="email">User name:</label>
        <!-- <input type="text" class="form-control" id="email" name="login" /> -->
        {{ form.username }}
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <!-- <input type="password" class="form-control" id="pwd" name="password" /> -->
        {{ form.password }}
    </div>
    <p><a href="{% url 'password_reset' %}"> Forgot your password?</a></p>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
