{% extends 'base.html' %}

{% block content %}
<div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Success!</strong> We've emailed you instructions for setting password.
</div>
{% endblock %}