{% extends 'base.html' %}

{% block content %}
{% if form.email.errors %}
<div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Error!</strong> {{ form.email.errors }}
</div>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="pwd">Enter your email:</label>
        <!-- <input type="password" class="form-control" id="pwd" name="password" /> -->
        {{ form.email }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}