{% extends 'base.html' %}

{% block content %}


{% if validlink %}
<form action="" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label>New password:</label>
        <!-- <input type="text" class="form-control" id="email" name="login" /> -->
        {{ form.new_password1 }}
        <p>{{ form.new_password1.errors }}</p>
    </div>
    <div class="form-group">
        <label for="pwd">Repeat new password:</label>
        <!-- <input type="password" class="form-control" id="pwd" name="password" /> -->
        {{ form.new_password2 }}
        <p>{{ form.new_password2.errors }}</p>
    </div>
    <button type="submit" class="btn btn-primary">Change password</button>
</form>
{% else %}
<div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Error!</strong> This password reset link was invalid. Please request a new password reset.
</div>
{% endif %}
{% endblock %}