{% extends 'base.html' %}
{% block content %}
<meta http-equiv="refresh" content="1; URL={% url 'login' %}">
<div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Success!</strong> Password was successfuly changed! Please, wait for redirect.
</div>
    
<a href="{% url 'login' %}" type="button" class="btn btn-primary">Login</a>
{% endblock %}
