{% extends 'base.html' %}

{% block content %}

{% if form.errors %}
<div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Error!</strong> {{ user_form.errors }}
</div>
{% endif %}


<form action="{% url 'register' %}" method="post">
    

    <!-- <h1>Create your account</h1>
    <div class="form-group">
        <label for="username">User name:</label>
        <input type="text" class="form-control" id="username" name="username" />
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" id="email" name="email" />
    </div>
    <div class="form-group">
        <label for="firste">First name:</label>
        <input type="text" class="form-control" id="firstname" name="first_name" />
    </div>
    <div class="form-group">
        <label for="firste">last name:</label>
        <input type="text" class="form-control" id="lastname" name="last_name" />
    </div>
    <div class="form-group">
        <label for="pwd1">Password:</label>
        <input type="password" class="form-control" id="pwd1" name="password" />
    </div>
    <div class="form-group">
        <label for="pwd2">Repeat your password:</label>
        <input type="password" class="form-control" id="pwd2" name="password2" />
    </div> -->
    {% csrf_token %}
    {{ user_form.as_p}}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}