{% extends 'base.html' %}
{% block content %}

<div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Success!</strong> Successfuly created new user!
</div>

{% endblock %}